---
layout: archive
title: "Miscellaneous"
permalink: /misc/
author_profile: true
---

{% include base_path %}


{% for post in site.misc %}
  {% include archive-single.html %}
{% endfor %}


Extracurricular Activities
--------------------------
Some of my hobbies are: swimming, hiking, cycling, table tennis, ecotourism, watching movie and anime, and last but not least traveling! I have always been a math enthusiast - alongside my other interests - and because of that I attended many math competitions both nationally and internationally, and, most importantly, got to enjoy visiting quite a few other countries!

